<div>
<div class="nav-body" >
  <div class="nav-logo">
    <h3><a class="home" routerLink="home">logo</a></h3>
  </div>
  <div class="nav-items">
    <ul>
      <li><a class="home" routerLink="home">Home</a></li>
      <li><a class="add-book" routerLink="manage-book">Add Book</a></li>
      <li><a class="staff-manage" routerLink="staff-manage">Staff Manage</a></li>
      <li><a class="about" routerLink="about">About</a></li>
      <li><a class="about" routerLink="profile">Profile</a></li>
      <li><a class="admin" routerLink="admin">Admin</a></li>
    </ul>
  </div>
  <div class="logout">
    <button class="lo-i"><i class="bi bi-box-arrow-in-right"></i></button>
  </div>
</div>

<aside class="bd-sidebar">
  <div class="offcanvas-lg offcanvas-start" tabindex="1" id="bd-sidebar" aria-labelledby="bdSidebarOffcanvasLabel">
    <div class="offcanvas-header border-bottom">
      <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">Dashboard</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdSidebar"></button>
    </div>
    <div class="offcanvas-body">
      <nav class="nav-items" id="navitems" aria-label="">
        <ul>
          <li><a class="side-b" routerLink="home">Home</a></li>
          <li><a class="side-b" routerLink="manage-book">Book Manage</a></li>
          <li><a class="side-b" routerLink="staff-manage">Staff Manage</a></li>
        </ul>
      </nav>
    </div>
  </div>
</aside>
</div>
