<div class="nav-body" >
  <div class="nav-logo">
    <h3><a class="home" routerLink="home">logo</a></h3>
  </div>
  <div class="nav-items">
    <ul>
      <li><a class="home" routerLink="home">Home</a></li>
      <li><a class="add-book" routerLink="manage-book">Add Book</a></li>
      <li><a class="staff-manage" routerLink="staff-manage">Staff Manage</a></li>
      <li><a class="about" routerLink="about">About</a></li>
      <li><a class="about" routerLink="profile">Profile</a></li>
      <li><a class="admin" routerLink="admin">Admin</a></li>
    </ul>
  </div>
  <div class="logout">
    <button class="lo-i"><i class="bi bi-box-arrow-in-right"></i></button>
  </div>
</div>

