.form-body{
    background: white ;
    width: 100%;
    height: 1080px;
    color: #112A46;
}
.card-1 {
    height: 100%;
    width: 60%;
    margin: 0 auto; 
    padding-top: 2px;
    background-color: white;
    padding-bottom: 25px;  

}

.form-group {
    margin-left: 50px;
    width: 70%;
    margin-top: 5px;
    border-radius: 5%;
}

.input-group-text {
    height: 5px;
    width: 5px;

}

.head-text {
    padding-top: 5px;
    border-color: #112A46 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-head {
    background: linear-gradient(90deg, hsla(48, 78%, 82%, 1) 0%, hsla(340, 87%, 59%, 1) 100%);
    color: white;
    margin-top: 3%;
    height: 80px;
    width: 100;
    text-align: center;


}

.btn {
    margin-left: 5px;
    
    color: white;
    font-family: sans-serif;


}

.input-container {
    padding: 15px;

    width: 100%;
    margin-right: 2.5px;
    margin-left: 50px;


}

.inputBookName {
    width: 20px;
}
.card-container{

    width: 90%;
    margin-left: 10%;

}
.btn2{
    background: hsla(212, 61%, 17%, 1);
    color: white;
    font-family: sans-serif;
    border: 1px;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    font-size: large;
    padding: 6px, 12px;
    border: none;
    margin-left: 75%;
    margin-top: 2%;
}
.profile{
    height: 30%;
    width: 100%;
    font-size: xx-large;
    background-color: white;
    color: black;
    padding: 1%;
}
.table{
    width: 100%;
}
.container{
    width: 100%;
}
.modal-body{
    background : linear-gradient(90deg, hsla(302, 82%, 76%, 1) 0%, hsla(258, 40%, 68%, 1) 100%);;
}

.btn3{
    background-color: #9d4edd;
    color: white;
    margin-left: 45%;
    margin-top: 10%;
    color: white;
    border-radius: 15px;
    width: 120px;
    font-size: large;
    padding: 2px;
    border: none;
    box-shadow: thistle;
}