/* .main-content{
    background-image:url(../../../assets/img/curved-images/curved5-small.jpg);
    height: 400px
} */

/* .card{
    margin-top: 200px;
    margin-left: 500px;
    width: 400px;
    height: 400px;
} */
/* .col{
    margin: 5px,auto;
    
    
}
.h2{
    margin-top: 5%;
    color: hsla(212, 61%, 17%, 1);
    font-family: sans-serif
}
/* .btn{
    background: hsla(212, 61%, 17%, 1);
    color: white;
    font-family: sans-serif;
    margin-top: 70px;
    align-items: center;
    margin-left: 40%;
} */
/* .signup{
    text-decoration: none;
    text-align: center;
    font-size: medium;
    margin-top: 2px;
}
.signup2{
    color: hsla(235, 100%, 78%, 1) ;
    text-decoration: none;
}
.image{
    height: 500px;
    width: 300px;
}  */