 .home-body {
    background: linear-gradient(90deg, hsla(323, 91%, 51%, 1) 0%, hsla(329, 20%, 24%, 1) 100%);
    color: rgb(0, 0, 0);
    width: 90%;
    margin-left: 10%;
    
    
    
    
}
.home-heading{
    font-size: 300%;
    margin: 0 auto;
    color: white;
    text-shadow: grey;
}
.card{
    height: 50%;
    width: 30%;
    
}
.book-list{
    height: 10%;
    color: white;
}
.book-head{
    size: 70%;
}
